:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --frame-height: 560px;
  --frame-width: 400px;
}

#content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin: 0;
}

#slideshow {
  display: flex;
  align-items: center;
}

#image-frame {
  height: var(--frame-height);
  width: var(--frame-width);
  background-color: green;
  overflow: hidden;
}

#image-holder {
  display: flex;
  height: var(--frame-height);

  background-color: pink;
}

.image {
  width: var(--frame-width);
  height: var(--frame-height);
}

#nav-circles-holder {
  display: flex;
  justify-content: center;
  width: var(--frame-width);
  margin-top: 1rem;
}

.nav-circle {
  height: 1rem;
  margin: 0.4rem;
}

.nav-circle-selected {
  height: 1.1rem;
}
