:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --frame-height: 280px;
  --frame-width: 200px;
}

#content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin: 0;
}

#slideshow {
  display: flex;
  align-items: center;
}

#image-frame {
  height: var(--frame-height);
  width: var(--frame-width);
  background-color: green;
  overflow: hidden;
}

#image-holder {
  display: flex;
  height: var(--frame-height);

  background-color: pink;
  /* animation: translateHolder 2s ease-in-out forwards; */
}

.image {
  width: var(--frame-width);
  height: var(--frame-height);
}

@keyframes translateHolder {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(0px - var(--frame-width)));
  }
}
